* {
    /* add color in index.css eg: --accent: 0, 200, 0;*/
    --colorOffer: var(--accent);
    --backgroundOffer: var(--backgroundCustom);
    --backgroundLineOffer: var(--gray);
}


.background {
    background: var(--backgroundOffer);
}

.container {
    margin: 60px auto 0px auto;
    max-width: 1200px;
}

.video_container {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
}

.pages {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.pages_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pages_anim_container {
    height: 10rem;
    width: 100%;
    position: relative;
}

.pages_anim_background {
    height: 100%;
    width: 100%;
    color: rgb(var(--colorOffer));
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.pages_anim_cyrcle {
    background: rgb(var(--colorOffer));
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(6rem 4rem);
}


.pages_anim_header {
    font-size: 3rem;
    white-space: nowrap;
    animation: text_anim 5s ease-in-out infinite;
}

@keyframes text_anim {
    0% {
        transform: translateX(6rem);
    }

    50% {
        transform: translateX(-6rem);
    }

    100% {
        transform: translateX(6rem);
    }
}

.pages_desc {
    padding: 2rem;
}

.pages_desc_content {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.pages_desc_P {
    flex: 1;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 1rem;
    font-style: italic;

}

.pages_desc_P::first-letter {
    font-size: 200%;
    color: rgb(var(--accent));
    font-weight: bold;
}

.pages_desc_svg {
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    padding: 0 2rem;
}

.pages_desc_svg svg {
    height: 100%;
    width: 100%;
}

.pages_h2 {
    font-size: 1.5rem;
    color: rgb(var(--colorOffer));
    align-self: flex-start;
    padding: 2rem 0;
    text-align: center;
}

.pages_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.pages_a {}

.pages_img {
    width: 100%;
    transition: .5s;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.pages_img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {

    .pages_anim_container {
        height: 6rem;
        width: 100%;
        position: relative;
    }

    .pages_anim_cyrcle {
        clip-path: ellipse(4rem 3rem);
    }

    .pages_anim_header {
        font-size: 2rem;
    }

    @keyframes text_anim {
        0% {
            transform: translateX(4rem);
        }

        50% {
            transform: translateX(-4rem);
        }

        100% {
            transform: translateX(4rem);
        }
    }
}


@media screen and (max-width:800px) {

    .pages_content {
        width: 100%;
    }

    .pages_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pages_desc_content {
        flex-direction: column;
    }

    .pages_desc_svg {
        order: -1;
    }

    .pages_desc_P {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}