* {
    /* add color in index.css eg: --accent: 0, 200, 0;*/
    --colorOffer: var(--accent);
    --backgroundOffer: var(--backgroundCustom);
    --backgroundOffer2: var(--backgroundCustom2);
    --backgroundLineOffer: var(--gray);
}


.background {
    background: var(--backgroundOffer);
    color: black;
}

.containerBackground {
    background: var(--backgroundOffer2);
}

.container {
    margin: auto;
    max-width: 1200px;
}

.video_container {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.video {
    width: 100%;
    height: 100%;
}

.containerPages {
    margin: auto;
    max-width: 1200px;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages_title {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 1.5rem 3rem;
}

.pages_title_H1 {
    width: 100%;
    background: radial-gradient(circle, rgb(0, 120, 0) 0%, rgba(245, 245, 245, 1) 100%);
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 3rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pages_anim_cyrcle {
    background: rgb(var(--colorOffer));
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: ellipse(6rem 4rem);

}

.pages_desc {
    padding: 0;
}

.pages_desc_content {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
}

.pages_desc_P {
    flex: 1;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: italic;
}

.pages_desc_P::first-letter {
    font-size: 200%;
    color: rgb(var(--accent));
    font-weight: bold;
}

.pages_desc_svg {
    max-width: 100%;
    max-height: 100%;
    flex: 1;
    padding: 0 1rem;
}

.pages_desc_svg svg {
    height: 100%;
    width: 100%;
}

.pages_h2 {
    font-size: 2rem;
    color: rgb(var(--colorOffer));
    align-self: flex-start;
    padding: 1.5rem 3rem 0 3rem;
}

.pages_list {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.pages_a {}

.pages_img {
    width: 100%;
    transition: .5s;
    border-radius: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.pages_img:hover {
    transform: scale(1.1);
}

/* svg animations */

.animationUPDown {
    animation: animationUPDown 4s ease-in-out infinite;
}

@keyframes animationUPDown {
    50% {
        transform: translateY(8%);
    }
}

.animationShowHide {
    animation: animationShowHide 3s ease-in-out infinite;
}

@keyframes animationShowHide {
    50% {
        opacity: 0.2;
    }
}

.animationBackgroundColor {
    animation: animationBackgroundColor 4s ease-in-out infinite;
}

@keyframes animationBackgroundColor {
    0% {
        fill: rgba(255, 255, 255, 1);
    }

    50% {
        fill: rgb(0, 200, 0, 1);
    }

    100% {
        fill: rgba(255, 255, 255, 1);
    }
}

.animationSkew {
    animation: animationSkew 4s ease-in-out infinite;
}

@keyframes animationSkew {
    50% {
        transform: scale(0.9, 0.9) skew(5deg, 5deg);
        opacity: 0.2;

    }
}

.animationBackgroundColorCheck1 {
    animation: animationBackgroundColorCheck 3s ease-in-out infinite both;
}

.animationBackgroundColorCheck2 {
    animation: animationBackgroundColorCheck 3s 1s ease-in-out infinite both;
}

.animationBackgroundColorCheck3 {
    animation: animationBackgroundColorCheck 3s 2s ease-in-out infinite both;
}

@keyframes animationBackgroundColorCheck {
    0% {
        fill: transparent;
    }

    50% {
        fill: rgb(0, 200, 0, 1);
    }

    100% {
        fill: transparent;
    }
}

.animationRotate {
    animation: animationRotate 4s ease-in-out infinite;
    transform-origin: 72% 65%;
}

@keyframes animationRotate {
    0% {
        transform: rotateY(0);
        fill: rgb(0, 200, 0, 1);
    }

    50% {
        transform: rotateY(360deg);
        fill: rgb(141, 141, 141);
    }

    100% {
        transform: rotateY(0);
        fill: rgb(0, 200, 0, 1);
    }
}



/* media query */

@media screen and (max-width: 500px) {

    .pages_anim_cyrcle {
        clip-path: ellipse(4rem 3rem);
    }

    @keyframes text_anim {
        0% {
            transform: translateX(4rem);
        }

        50% {
            transform: translateX(-4rem);
        }

        100% {
            transform: translateX(4rem);
        }
    }
}


@media screen and (max-width:800px) {

    .pages_list {
        grid-template-columns: repeat(2, 1fr);
    }

    .pages_desc_content {
        flex-direction: column;
    }

    .pages_desc_svg {
        order: -1;
    }

    .pages_desc_P {
        font-size: 1rem;
        line-height: 1.5rem;
        align-self: flex-start;
    }
}