.background {
    background: white;
    color: black;
}

.font {
    font-family: 'Kalam', cursive;
}

.title {
    font-size: 2.5rem;
    align-self: center;
    color: rgb(var(--accent));
    align-self: center;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.svg {
    max-width: 10rem;
    max-height: 10rem;
}

.svg svg {
    height: 100%;
    width: 100%;
}

.link {
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.linkLeftPadding {
    padding-left: 1rem;
}

.textWhite {
    color: white;
}

.linkArrow {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    content: "";
    display: inline-block;
    padding: 0.3rem;
    border: rgb(var(--accent)) solid;
    border-width: 0.2rem 0.2rem 0 0;
    animation: move 1s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: rotate(45deg) translate(0, 50%);
    }

    50% {
        transform: rotate(45deg) translate(50%, 0);
    }

    100% {
        transform: rotate(45deg) translate(0, 50%);
    }
}


/* section START */
.section {
    margin: auto;
    max-width: 1200px;
}

.introContainer {
    width: 100%;
    margin: 4rem 0 0 0;
    /*height jest 0 a padding to aspect ratio czyli h/w */
    padding-top: 62.5%;
    position: relative;
}

.introImg {
    width: 100%;
    height: 100%;
    /* zdjęcie wpasuje się w kontener z ustawionym aspect ratio */
    position: absolute;
    left: 0;
    top: 0;
}

.introBlack {
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: goUpAndDisaper 1s ease forwards;
    animation-delay: 3.5s;
}

.introContainerText {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    animation: textDisaper 1s ease forwards;
    animation-delay: 3.5s;
}


.introText {
    font-size: 1.5rem;
    text-align: left;
    padding: 0.5rem;
    color: white;
    white-space: nowrap;
}

.introText1 {
    margin-left: -4rem;
    animation: showText 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.introText2 {
    animation: showText 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

.introText3 {
    margin-left: 4rem;
    animation: showText 1s ease forwards;
    animation-delay: 2.5s;
    opacity: 0;
}

.headerName {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: 'Kalam', cursive;
    color: rgb(var(--accent));
    transform: scale(0);
    animation: showHeader 1s ease forwards;
    animation-delay: 4.5s;
    text-align: center;
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes goUpAndDisaper {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes textDisaper {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showHeader {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* section STANDARDS */

.tools {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.tools__container {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

/* section APPROACH */

.approach {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url('../../assets/about_background.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
    .approach {
        background-attachment: scroll;
    }
}

.approach__content {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.approach__container {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.approach__item {
    clip-path: polygon(10% 4%, 100% 4%, 90% 96%, 0 96%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
}

.approach__figure {
    width: 8rem;
    height: 8rem;
    clip-path: circle(50%);
}

.approach__text {
    font-size: 1.5rem;
    color: black;
    padding-top: 2rem;
    text-align: center;
    font-weight: 400;
}

.approach__textEmphasize {
    font-size: 2rem;
    font-family: "Kalam", cursive;
    font-weight: 600;
}


/* section STANDARDS */

.standards {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
}

.standards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -4rem;
    padding-top: 2rem;
}

.standards__content {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateY(4rem);
    z-index: 1;
}

.standards__header {
    font-size: 2rem;
    color: rgb(var(--accent));
    padding-bottom: 1rem;
}

.standards__header2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.standards__text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    text-align: justify;
}

.standards__anchor {
    align-self: flex-start;
}

.standards__figure {
    width: 100%;
    height: 100%;
    flex: 1.5;
    transform: translateX(0);
}

/* section REALIZATIONS */

.realizations {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.carousel {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

/* section USER */

.user {
    background: rgb(var(--dark));
    background-size: cover;
    background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
    .approach {
        background-attachment: scroll;
    }
}

.user__content {
    margin: auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
}

.user__figure {
    flex: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    width: 100%;
    height: 100%;
}

.user__textContainer {
    flex: 1;

    padding: 2rem 1rem;
}


/* section CONTACT */

.contact {
    max-width: 1200px;
    margin: auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.contact__tel {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: rgb(var(--dark));
    font-weight: 300;
    padding-top: 2rem;
}

.contact__telIcon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(var(--accent));

    /* animation */
    animation: shake 2s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    2%,
    98% {
        transform: translate3d(-1px, 0, 0);
    }

    4%,
    96% {
        transform: translate3d(2px, 0, 0);
    }

    6%,
    94% {
        transform: translate3d(-4px, 0, 0);
    }

    8%,
    92% {
        transform: translate3d(4px, 0, 0);
    }
}



/* media query */


@media (min-width: 600px) {

    .title {
        font-size: 2rem;
    }

    .introText {
        font-size: 3rem;
    }

    .headerName {
        font-size: 4rem;
        margin-top: 2rem;
    }

    .tools__container {
        grid-template-columns: repeat(6, 1fr);
    }

    .approach__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {

    .user__content {
        flex-direction: row;
        align-items: center;
    }

    .user__figure {
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    }

    .contact__tel {
        font-size: 5rem;
    }
}

@media (min-width: 1000px) {

    .approach__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .standards__item {
        flex-direction: row;
        margin-top: 0;
    }

    .standards__content {
        transform: translateX(2rem);
        margin: 0;
    }

    .standards__figure {
        transform: translateX(-2rem);
    }
}