.background {
    background: white;
    color: black;
}

.font {
    font-family: 'Kalam', cursive;
}

.title {
    font-size: 2.5rem;
    align-self: center;
    color: rgb(var(--accent));
    align-self: center;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}

.link {
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.linkLeftPadding {
    padding-left: 1rem;
}

.textWhite {
    color: white;
}

.linkArrow {
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    content: "";
    display: inline-block;
    padding: 0.3rem;
    border: rgb(var(--accent)) solid;
    border-width: 0.2rem 0.2rem 0 0;
    animation: move 1s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: rotate(45deg) translate(0, 50%);
    }

    50% {
        transform: rotate(45deg) translate(50%, 0);
    }

    100% {
        transform: rotate(45deg) translate(0, 50%);
    }
}


/* section START */

.start {
    background-color: rgb(var(--dark));
    width: 100%;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.start__container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.start__text {
    font-size: 1.2rem;
    text-align: left;
    padding: 0.5rem;
    color: white;
    white-space: nowrap;
}

.start__text1 {
    animation: showText 1s ease forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.start__text2 {
    margin-left: 4rem;
    animation: showText 1s ease forwards;
    animation-delay: 1.5s;
    opacity: 0;
}

.start__text3 {
    margin-left: 8rem;
    animation: showText 1s ease forwards;
    animation-delay: 2.5s;
    opacity: 0;
}

.start__videoContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.start__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start__videoFilter {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: radial-gradient(circle, rgba(var(--dark), 0.8) 0%, rgba(var(--dark), 0.4) 100%);
}

.start__arrow {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: solid rgb(var(--accent));
    border-width: 0.2rem 0.2rem 0 0;
    transform: rotate(135deg) translate(40%);
    animation: moveArrow 1s ease-in-out infinite;
}

@keyframes moveArrow {
    50% {
        transform: rotate(135deg) translateY(40%);
    }
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* section TOOLS */

.tools {
    margin: 100vh auto 0 auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.tools__container {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.tools__figure {
    width: 100%;
    height: 100%;
}

/* section APPROACH */

.approach {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5)0%, rgba(0, 0, 0, 0.5)100%), url('../../assets/background_home.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
    .approach {
        background-attachment: scroll;
    }
}

.approach__content {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.approach__container {
    padding-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
}

.approach__item {
    clip-path: polygon(10% 4%, 100% 4%, 90% 96%, 0 96%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
}

.approach__figure {
    width: 8rem;
    height: 8rem;
    clip-path: circle(50%);
}

.approach__text {
    font-size: 1.5rem;
    color: black;
    padding-top: 2rem;
    text-align: center;
    font-weight: 400;
}

.approach__textEmphasize {
    font-size: 2rem;
    font-family: "Kalam", cursive;
    font-weight: 600;
}


/* section OFFER */

.offer {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.offer__content {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.offer__header {
    font-size: 2rem;
    color: rgb(var(--accent));
    padding-bottom: 1rem;
}

.offer__text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    text-align: justify;
}

.offer__figure {
    width: 100%;
    height: 100%;
    flex: 1.5;
    position: relative;
}

.offer__img {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    animation: scaleImg 1.5s ease-in-out infinite;
}

@keyframes scaleImg {
    50% {
        transform: scale(0.9);
    }
}

/* section REALIZATIONS */

.realizations {
    margin: auto;
    max-width: 1200px;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.carousel {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
}

/* section USER */

.user {
    width: 100%;
    background: rgb(var(--dark));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user__figure {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.user__img {
    width: 100%;
    height: 100%;
    max-width: 600px;
    display: block;
}

.user__container {
    width: 100%;
}

.user__textContainer {
    padding: 1rem;
}


/* section CONTACT */

.contact {
    max-width: 1200px;
    margin: auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

.contact__tel {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: rgb(var(--dark));
    font-weight: 300;
    padding-top: 2rem;
}

.contact__telIcon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: rgb(var(--accent));

    /* animation */
    animation: shake 2s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    2%,
    98% {
        transform: translate3d(-1px, 0, 0);
    }

    4%,
    96% {
        transform: translate3d(2px, 0, 0);
    }

    6%,
    94% {
        transform: translate3d(-4px, 0, 0);
    }

    8%,
    92% {
        transform: translate3d(4px, 0, 0);
    }
}



/* media query */


@media (min-width: 600px) {

    .title {
        font-size: 2rem;
    }

    .start__text {
        font-size: 3rem;
    }

    .approach__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .offer__img {
        height: 8rem;
        width: 8rem;
    }
}

@media (min-width: 800px) {

    .user {
        margin-top: 4rem;
        flex-direction: row;
    }

    .user__figure {
        margin-top: -8rem;
        width: 50%;
    }

    .user__container {
        width: 50%;
    }

    .user__textContainer {
        max-width: 600px;
        margin-left: auto;
    }

    .contact__tel {
        font-size: 5rem;
    }

    .tools__container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (min-width: 1000px) {

    .approach__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .offer__item {
        flex-direction: row;
        margin-top: 0;
    }

    .offer__content {
        margin: 0;
    }
}