.background {
    background: white;
    color: black;
}


.img {
    width: 100%;
    height: 100%;
    display: block;
}


/* setion REALIZATIONS */

.realizations {
    padding: 8rem 1rem 4rem 1rem;
    margin: 4rem auto 0 auto;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.realizations__container {
    display: flex;
    flex-direction: column;
}

.realizations__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 4rem;
}

.realizations__itemTextContainer {
    flex: 1;
    margin: 0 0 2rem 0;
    padding: 1rem 1rem 2rem 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.realizations__text {
    font-size: 1.2rem;
    padding-top: 1rem;
    color: black;
}

.realizations__link {
    display: inline-block;
    padding-top: 1rem;
}

.realizations__figure {
    flex: 1;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* setion SAMPLES */

.samples {
    padding: 4rem 1rem;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.slider {
    width: 100%;
    height: 100%;
}



/* media query */

@media (min-width: 500px) {}


@media (min-width:800px) {

    .realizations__item {
        flex-direction: row;
    }

    .realizations__itemTextContainer {
        margin: 0 2rem 2rem 0;
    }
}