* {
    /* add color in index.css eg: --accent: 0, 200, 0;*/
    --colorLogin: var(--accent);
    --backgroundLogin: var(--backgroundCustom);
    --backgroundLineLogin: var(--gray);
}


.background {
    background: white;
}

.projectContainer {
    margin: 60px auto 0px auto;
    padding: 2rem;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectHeader {
    padding: 1rem;
    color: rgb(var(--colorLogin));
    font-family: Arial;
    text-align: center;
}

.projectCoontent {
    background: rgb(240, 240, 240);
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.projectCoontentItem {
    display: flex;
    padding: 1rem;
}

.projectDesc {
    color: rgba(0, 0, 0, 0.7);
    padding: 1rem 0.5rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.projectText {
    color: black;
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid rgba(var(--colorLogin), 1);
    color: black;
    padding: 0.5rem 2rem;
    cursor: pointer;
    outline: none;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: rgba(var(--colorLogin), 1);
    color: white;
}

.btn:active {
    box-shadow: 0 0 30px rgba(var(--colorLogin), 1);
}

@media (max-width: 800px) {
    .projectCoontentItem {
        flex-direction: column;
    }
}