/* basic */

*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

:root {
  /* colors */
  --accent: 0, 200, 0;
  /* #00c800 */

  /* gray colors */
  --grayBright: #F5F5F5;
  --gray: #BDBDBD;
  --grayDark: #212121;
  --backgroundCustom: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(220, 220, 220) 50%, rgb(255, 255, 255) 100%);
}

html,
body {
  font-size: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;

  /* scrollbar ONLY for mozilla, scrollbar-width - "auto" or "thin"  */
  scrollbar-width: thin;
  scrollbar-color: green black;
}

/* custom scroll bar in body (mobile not work) */
body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: rgba(var(--accent), 0.6);
  border-radius: 999px;
}



@media screen and (max-width: 500px) {

  html,
  body {
    font-size: 75%;
  }
}